
include LICENSE
include readme.md
recursive-include djnotty/static *
recursive-include djnotty/migrations *
recursive-include djnotty/templates *
recursive-include djxami/static *
recursive-include djxami/migrations *
recursive-include djxami/templates *
recursive-include djxami/templatetags *
